<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align:center">
            <h1>{{ aPost.title | uppercase }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align:center">
            <mat-form-field appearance="outline" style="width:100%;">
                <textarea matInput></textarea>
            </mat-form-field>
            <editor [init]="{
    icons: 'material',
    skin: 'borderless',
    plugins: 'wordcount',
    menubar: true,
    min_height: 150
  }"></editor>
            <br><br>
            <ul *ngFor="let comment of comments">
                <app-comments [comment]="comment"></app-comments>
            </ul>

        </div>
    </div>
</div>