<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align:center">
            <h1>{{title | uppercase }} </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let post of posts | slice:0:4">
            <app-posts [postObjects]=" post "></app-posts>
        </div>
    </div>
    <div class="row">
        <swiper [slidesPerView]="3" [spaceBetween]="30" [pagination]="{
    clickable: true
  }" class="mySwiper">
            <ng-template swiperSlide>Slide 1</ng-template>
            <ng-template swiperSlide>Slide 2</ng-template>
            <ng-template swiperSlide>Slide 3</ng-template>
            <ng-template swiperSlide>Slide 4</ng-template>
            <ng-template swiperSlide>Slide 5</ng-template>
            <ng-template swiperSlide>Slide 6</ng-template>
            <ng-template swiperSlide>Slide 7</ng-template>
            <ng-template swiperSlide>Slide 8</ng-template>
            <ng-template swiperSlide>Slide 9</ng-template>
        </swiper>
    </div>

</div>