<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4" style="text-align:center">
            <h1>{{title | uppercase }} </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" *ngFor="let post of posts | slice:0:4">
            <app-posts [postObjects]=" post "></app-posts>
        </div>
        <!--<div class="col-md-4 " style="text-align:center ">
            <ul *ngFor="let post of posts | slice:0:3 ">

            </ul>
        </div>!-->
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>